//! **************************************************************************
// Written by: Map M.81d on Thu Feb 24 15:56:59 2011
//! **************************************************************************

SCHEMATIC START;
COMP "RESET_ROC" LOCATE = SITE "A12" LEVEL 1;
COMP "MCLK100_b" LOCATE = SITE "AC16" LEVEL 1;
COMP "MCLK100" LOCATE = SITE "AB15" LEVEL 1;
COMP "FPGA100M" LOCATE = SITE "E18" LEVEL 1;
COMP "RESET" LOCATE = SITE "AF20" LEVEL 1;
SCHEMATIC END;

